name: Output branch list as array between jobs

on:
  workflow_dispatch:

jobs:
  create-array:
    runs-on: ubuntu-latest
    outputs:
      branch-list: ${{ steps.list.outputs.branch-list }}

    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          fetch-depth: 0
      
      - name: Output branch list
        id: list
        run: |
          echo "::set-output name=branch-list::$(git branch --list)"
  
  parse-array:
    runs-on: ubuntu-latest
    needs: create-array
    
    steps:
      - name: Checkout
        uses: actions/checkout@main
      
      - name: Read branch list
        run: |
          echo ${{ needs.create-array.outputs.branch-list }}
